/* FONT FACE */
/* Appelle les polices de la page */

/*GLOBAL */
/* Balises et class appelés à plusieurs endroits dans la page */

/* HEADER */


/* MAIN */

/* FOOTER */
            /*
            - Police utilisés :
                - "PT Sans Narrow"
                - "Open Sans"
            - Tailles utilisés :
                - par défaut : 1.6rem
                - h1 : 4rem
                - h2 : 2.4rem
            Couleurs:
            Vert général : #30A894
            Vert hover : #38B5A0
            Vert clair : #B8DCB1
            */
/* FORMAT MOBILE */
* {
    box-sizing: border-box;
}
header {
   text-align: center;
  
}
header img {
    width: 10rem;
    padding-top: 30px;
}
nav {
    display: flex;
    flex-direction: column;
    background-color: #30A894;
  
}
nav a {
    color: white;
    margin: 0;
	padding: 15px 0 15px 0;
	text-decoration: none;
}
body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.6rem;
    background-color: #f2f1f4;
    margin: 1rem;
}

h1, h2 {
    color: #30A894;
    font-weight: normal;
    margin: 0;
}
h1 {
    font-size: 3rem;
    
}
h2 {
    font-size: 2rem;
    
}
hr {
	height: 1px;
	border: 0;
	background-color: #30A894;
	
}
main a, footer a {
    color: #B8DCB1;
    
}
footer {
    text-align: center;
}
footer img {
    width: 4rem;
}
picture source, picture img {
    width: 100%;
    
}
aside {
    display: none;
}
/* FORMAT TABLETTE  version première avec la nav sans liste non ordonnée.
Seul pb est que le hover de la souris ne prend pas tout l'espace.
Comme pis aller j'ai mis largeur 30% sur les a. 
J'essaie une autre version  sur index.html*/

@media screen and (min-width: 480px) and (max-width: 959px) {
    aside{
        display: block;
        background-color: #B8DCB1;
    }
}
/* FORMAT DESKTOP */
@media screen and (min-width: 960px){
    body {
        max-width: 80%;
        margin: 0 auto;
        
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
       
        
    }
    nav a {
        width: 33%;
        padding: 25px;
    }
    nav a:hover {
	background-color: #38B5A0;
	
    }
    aside {
        display: block;
        background-color: #B8DCB1;
        padding: 25px 15px;
    }
    main {
        display: flex;
        flex-direction: row;
    }
    section {
        padding-right: 15px;
        padding-top: 25px;
    }
    
    header img {
    width: 15rem;
    
    }
	footer {
	    margin-top: 30px;
	}
}
    
