body {
    margin: 0 auto;
    width: 90%;
}

.rectangle {
    width: 200px;
    height: 100px;
    background-color: teal;
    border-radius: 10px;
    transition: background-color 0.8s;
}
.hide {
    display: none;
}

.important {
    background-color: green;
}

.good {
    background-color: limegreen;
}
