* {
	box-sizing: border-box;
	outline: none;
}
body {
    margin: 10px 25px 10px 25px;
}
#position-image article p {
    display: inline-block;
    width: 48%;
    
}
section article {
    text-align: justify;
    padding: 10px;
}
.clear {
    clear: both;
}

#position-images article #leftimg {
    float: left;
    
}
#position-images article #rightimg {
    float: right;
    
    }
#position-articles article {
    display: inline-block;
    width: 33.33%;
    vertical-align: top;
    padding: 25px;
}