
ul li {
    list-style-type: none;
    background-color: grey;
    width: 20%;
    color: white;
    padding-left: 10px;
    
}
ul {
    padding-left: 0;
}
img {
    width: 10%;
}
#mapid { 
    height: 30%;
}